{% extends "layout.html" %}
{% block content %}
    <div class="container border-bottom" id="main-input">
        <h1>Hello, I can translate!</h1>
    </div>
    <!--<button id='btn_1' type='button' class="btn btn-primary btn-lg btn-block" onclick='show_hide("paste-input")'/>Paste your text</button>-->
    <!--<div class="container response-box" id="paste-input">-->
        <!--<div style="margin-top:20px;">-->
            <!--<textarea id="w3mission" rows="4" cols="50">-->
            <!--At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.-->
            <!--</textarea>-->
            <!--&lt;!&ndash;<input type="text" id="inputTextId" value="Hello" onchange="postData('http://localhost:3000/parse_data', { answer: this.value})">&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="main-text">&ndash;&gt;-->
                <!--&lt;!&ndash;<h1>Paste your text.</h1>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="container response-box" id="bot-output-1">
        <div style="margin-top:20px;">
            <p class="main-text">
                <h1>Translation</h1>
            </p>
        </div>
    </div>
{% include 'js/ear_brain.js' %}
{% endblock content %}
