{% extends "layout.html" %}
{% block content %}
    <div class="container border-bottom" id="main-input">
        <h1>Hello, I can translate!</h1>
    </div>
    <!--<button id='btn_1' type='button' class="btn btn-primary btn-lg btn-block" onclick='show_hide("paste-input")'/>Paste your text</button>-->
    <!--<div class="container response-box" id="paste-input">-->
        <!--<div style="margin-top:20px;">-->
            <!--<textarea id="w3mission" rows="4" cols="50">-->
            <!--At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.-->
            <!--</textarea>-->
            <!--&lt;!&ndash;<input type="text" id="inputTextId" value="Hello" onchange="postData('http://localhost:3000/parse_data', { answer: this.value})">&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="main-text">&ndash;&gt;-->
                <!--&lt;!&ndash;<h1>Paste your text.</h1>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="container response-box" id="bot-output-1">
        <div style="margin-top:20px;">
            <p class="main-text">
                <h1>Translation</h1>
            </p>
        </div>
    </div>
<script>

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();
    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    recognition.continuous = true;
    recognition.lang = '{{data.language}}';
    recognition.onresult = (event) => {
      let interimTranscript = '';
      for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
          finalTranscript += transcript;
        } else {
          interimTranscript += transcript;
        }
      }
      document.querySelector('#main-input').innerHTML = '<h1>' + finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</></h1>';
      if (finalTranscript) {
            postData('{{ data.API_URL }}/brain_test', { answer: finalTranscript}).then((data) => {
            document.querySelector('#bot-output-1').innerHTML = '<h1>' + data.text + '</h1>'; // JSON data parsed by `response.json()` call
            finalTranscript = "";
      });
    }

    }
    recognition.start();
    recognition.onend = (event) => {
        recognition.start();
    };
</script>
{% endblock content %}
