{% extends "layout.html" %}
{% block content %}


<div class="row mt-4" id="question-space">

</div>


    <div class="container border-bottom mt-4" id="main-input">
        <h1>...</h1>
    </div>

    <div class="container response-box" id="bot-output-1">
        <div style="margin-top:20px;">
            <p class="main-text">
                <h1>Translation</h1>
            </p>
        </div>
    </div>
<!--<script>-->
    <!--const main_input = document.querySelector('#main-input')-->
    <!--const xhr = new XMLHttpRequest()-->
    <!--const method = 'GET' // "POST"-->
    <!--const url = "/sample_data"-->
    <!--const responseType = "json"-->


    <!--xhr.responseType = responseType-->
    <!--xhr.open(method, url)-->
    <!--xhr.onload = function() {-->
        <!--const serverResponse = xhr.response-->
        <!--listedItems = serverResponse.response-->
        <!--var item = listedItems.pop()-->
        <!--main_input.innerHTML = item[1]   ;-->
        <!--console.log(listedItems)-->
    <!--}-->
    <!--xhr.send()-->



<!--</script>-->
{% include 'js/ear_quiz.html' %}

{% endblock content %}