{% extends "layout.html" %}
{% block content %}
    <div class="container" id="main-input">
        <h1>Hello, I can translate!</h1>
    </div>
    <div class="container response-box">
        <div style="margin-top:20px;">
            <p class="translated-text">Center aligned text on all viewport sizes.</p>
        </div>
    </div>
    <div class="container response-box">
        <div style="margin-top:20px;">
            <p class="translated-text">Center aligned text on all viewport sizes.</p>
        </div>
    </div>
{% endblock content %}